.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-family: "Ubuntu", sans-serif;
  height: 80vh;
  background-color: #fff;
  color: #fff;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  background: #555;
  color: black;
  height: 35vh;
  width: 30vw;
}

.form-login-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.form-login-input input {
  padding: 10px;
  /* margin: 10px; */
  width: 100%;
  border: none;
  border-radius: 5px;
}

.submit-button {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  width: 100%;
  background-color: #777;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 40%;
}

.submit-button:hover {
  background-color: #fff;
  cursor: pointer;
  color: #555;
}
